.image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 35vh;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    box-sizing: border-box;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(calc(-33.33% * var(--current-index))); 
}

.image-card-container {
    flex: 0 0 calc(33.33%);
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.image-placeholder {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 50px;
    background: #f0f0f0;
    padding: 0 25px;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    z-index: 10;
}

.prev-btn {
    left: -60px;
}

.next-btn {
    right: -60px; 
}

.slider-btn:hover {
    background: #c5c5c5;
}
