@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'SUITE-Regular' !important;
    background: white;
    align-items: center;
}

.slider {
    position: relative;
    width: 100vw;
    height: 800px;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.slide {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bakground-image {
    filter: blur(8px) brightness(25%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.front-image-wrapper {
    position: relative;
    width: 100%;
    height: 650px;
}

.front-image {
    width: calc(100% - 360px) !important;
    height: 650px !important;
    z-index: 2;
    position: relative; 
    margin: 0 auto;
    display: block;
    align-self: center;
    border-radius: 30px;
}

.detail-link {
    z-index: 1000;
    position: absolute;
    padding: 5px 20px;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: bold !important;
    top: 80%;
    left: 200px;

}

.page-number{
    position: absolute;
    z-index: 1500;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    top: 90%;
    padding: 5px 20px;
    border-radius: 30px;
    left: 200px;
    font-weight: bold !important;
}

.overlay-section {
    position: absolute;
    right: 0;
    width: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    right: calc((100% - (100% - 360px)) / 2);
    border-radius: 0 30px 30px 0;
    z-index: 3;
}

.tours-title {
    position: absolute;
    top: 20px;
    left: 200px;
    z-index: 3;
    font-size: 50px;
    font-weight: bold !important;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 30px;
    max-width: calc(60% - 216px);
    word-wrap: break-word;
}

.destination-heading {
    color: white;
    z-index: 3;
    font-weight: bold;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.select-destination {
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 30px;
    top: 30%;
    left: 15%;
    font-weight: bold;
}

/*지역 선택*/
.regionSelectContainer {
    display: flex;
    align-items: center;
    position: absolute;
    left: 15%;
    top: 40%;
    width: 200px; 
    z-index: 1000;
  }
  
  .regionFilter {
    appearance: none;
    padding: 10px 10px 10px 30px;
    font-size: 25px;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid rgb(25, 106, 182);
    cursor: pointer;
    width: 100%; 
  }
  
  .icon {
    position: absolute;
    left: 10px;
    font-size: 24px;
    color: white;
    pointer-events: none;
  }
  
  .dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 3;
  }
  
  .dropdownItem {
    padding: 10px;
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 20px;
  }
  
  .dropdownItem:hover {
    background-color: #f0f0f0;
  }

  .search-btn {
    position: absolute;
    color: black;
    font-size: 22px;
    z-index: 999;
    background-color: white;
    width: 70%;
    top: 55%;
    height: 60px;
    padding: 12px 0px;
    left: 15%;
    right: 15%;
    border-radius: 10px;
    font-family: 'SUITE' !important;
    font-weight: bold !important;
  }