@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'SUITE-Regular' !important;
    background: white;
    min-width: 1140px !important;
    overflow-x: auto;
}

.tours-container{
    padding: 0px 180px;
    width: 70%;
    height: 250px;
    min-width: 1140px;
    align-items: center;
    background-color: rgb(245, 245, 205);
    margin: 0 auto;
    margin-top: 180px;
    border-radius: 20px;
}

.maintag-button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.maintag-button {
    padding: 10px 30px;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(187, 187, 187);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.maintag-button.selected {
    background-color: rgb(25, 106, 182) !important;
    color: white !important;
}

.maintag-button:hover {
    background-color: rgb(25, 106, 182);
    color: white;
}

.subtag-button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.subtag-button {
    padding: 10px 30px;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(214, 214, 214);
    font-size: 18px;
    font-weight: bold;
}

.subtag-button.selected {
    background-color: rgb(25, 106, 182);
    color: white;
}

.subtag-button:hover {
    background-color: rgb(25, 106, 182);
    color: white;
}